# Traefik Dynamic Configuration
# Defines middlewares for Authelia authentication and TLS certificates
# https://www.authelia.com/integration/proxies/traefik/

tls:
  certificates:
    - certFile: '/certs/local.crt'
      keyFile: '/certs/local.key'

http:
  middlewares:
    # Authelia ForwardAuth middleware
    # Used to protect routes that require authentication
    authelia:
      forwardAuth:
        address: 'http://fastapi-authelia:9091/api/authz/forward-auth'
        trustForwardHeader: true
        authResponseHeaders:
          - 'Remote-User'
          - 'Remote-Groups'
          - 'Remote-Name'
          - 'Remote-Email'
